* {
  padding: 0;
  margin: 0;
  font-size: 16px;
  font-family: Roboto, sans-serif;
}
body {
  height: 100vh;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: #f9faf8;
}
body>div {
  padding: 60px 10vw;
}
.header,
.footer {
  padding: 20px 10vw;
}
/* Horizontal Flexboxes */
.header,
.nav-links,
.hero-container,
.cards-container,
.cta-container,
.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
  flex-wrap: wrap;
}
.logo {
  font-size: 24px;
  font-weight: bold;
}

.card-img {
  width: 150px;
  height: 150px;
  /* Maintain aspect ratio */
  object-fit: cover;
  border-radius: 10px;
}
.card {
  text-align: center;
  flex-basis: 150px;
  margin: 16px;
  color: rgb(82, 82, 82);
}
.cards-container {
  justify-content: center;
}
.header,
.hero-container,
.footer {
  background-color: #1f2937;
  color: #f9faf8;
}
.hero-text {
  flex: 1;
  min-width: 350px;
  max-width: 400px;
}
.hero-img {
  border-radius: 10px;
  flex: 1;
  min-width: 350px;
  max-width: 600px;
  height: 280px;
  /* Maintain aspect ratio */
  object-fit: cover;
}
.hero-container {
  padding: 60px 10vw 80px;
}
/* Hero title */
h1 {
  font-size: 48px;
  line-height: 54px;
  font-weight: 900;
  margin-bottom: 12px;
}
/* Hero subtext */
.hero-text>p {
  margin-bottom: 12px;
  font-size: 18px;
  line-height: 24px;
}
.hero-text>button {
  background-color: #3882f6;
  font-weight: bold;
  font-size: 18px;
  color: #f9faf8;
  padding: 8px 30px;
  border: none;
  border-radius: 7px;
  margin-bottom: 16px;
}
h2.information {
  font-size: 36px;
  font-weight: 900;
  color: #1f2937;
  margin-bottom: 20px;
  text-align: center;
}