html {
  font-size: 16px;
  font-family: Roboto, sans-serif;
}
ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
a {
  text-decoration: none;
}
body {
  height: 100vh;
  padding: 16px 72px;
}

/* Horizontal Flexboxes */
.header,
.nav-links,
.hero-container,
.cards-container,
.cta-container,
.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
  flex-wrap: wrap;
}
