html {
  font-size: 16px;
  font-family: Roboto, sans-serif;
}
ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
a {
  text-decoration: none;
  color:  #f9faf8;
}
body {
  height: 100vh;
  padding: 0;
  margin: 0;
}
body>div {
  margin: 0;
  padding: 24px 15vw;
}
/* Horizontal Flexboxes */
.header,
.nav-links,
.hero-container,
.cards-container,
.cta-container,
.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
  flex-wrap: wrap;
}

.card-img {
  width: 150px;
  height: 150px;
  border: 2px solid lightslategray;
  border-radius: 5px;
}
.card {
  text-align: center;
  border: 2px solid brown;
  flex: 0 0 150px;
  margin: 16px;
}
.cards-container {
  justify-content: center;
}
.header,
.hero-container,
.footer {
  background-color: #1f2937;
  color: #f9faf8;
}