html {
  font-size: 16px;
  font-family: Roboto, sans-serif;
}
ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
a {
  text-decoration: none;
  color: #f9faf8;
}
body {
  height: 100vh;
  padding: 0;
  margin: 0;
}
body>div {
  margin: 0;
  padding: 24px 15vw;
}
/* Horizontal Flexboxes */
.header,
.nav-links,
.hero-container,
.cards-container,
.cta-container,
.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
  flex-wrap: wrap;
}
.logo {
  font-size: 24px;
  font-weight: bold;
}

.card-img {
  width: 150px;
  height: 150px;
  /* Maintain aspect ratio */
  object-fit: cover;
  border-radius: 10px;
}
.card {
  text-align: center;
  flex-basis: 150px;
  margin: 16px;
}
.cards-container {
  justify-content: center;
}
.header,
.hero-container,
.footer {
  background-color: #1f2937;
  color: #f9faf8;
}
.hero-text {
  flex: 1;
  min-width: 350px;
  max-width: 400px;
}
.hero-img {
  border-radius: 10px;
  flex: 1;
  min-width: 350px;
  max-width: 600px;
  height: 280px;
  /* Maintain aspect ratio */
  object-fit: cover;
}
.hero-container {
  padding: 40px 15vw 60px;
}
/* Hero title */
h1 {
  font-size: 48px;
  line-height: 54px;
  font-weight: 900;
  margin: 0 0 12px 0;
}
/* Hero subtext */
.hero-text>p {
  margin: 0 0 12px 0;
  font-size: 18px;
  line-height: 24px;
}